## SQLite и Pandas

Сегодня мы поработаем над тем как извлекать данные из базы данных SQLite. Для начала импортируем нужные нам библиотечки.

In [13]:
import sqlite3
import pandas as pd

In [14]:
# Создаем коннектор к файлу нашей базы данных. 
# Само собой, файлик Базы Данных должен лежать рядом с файлом блокнота (который вы сейчас читаете). 
con = sqlite3.connect('DBname2.db')

In [15]:
cur = con.cursor()

In [19]:
cur.execute('SELECT * FROM EmplPoints').fetchall()

[('Маша', 5, '2020-01-01'),
 ('Петя', 4, '2020-01-01'),
 ('Вася', 3, '2020-01-01'),
 ('Саша', 4, '2020-01-01'),
 ('Маша', 4, '2020-01-02'),
 ('Петя', 4, '2020-01-02'),
 ('Вася', 4, '2020-01-02'),
 ('Саша', 5, '2020-01-02'),
 ('Маша', 5, '2020-01-03'),
 ('Петя', 3, '2020-01-03'),
 ('Вася', 2, '2020-01-03'),
 ('Саша', 5, '2020-01-03'),
 ('Маша', 3, '2020-01-04'),
 ('Петя', 3, '2020-01-04'),
 ('Вася', 3, '2020-01-04'),
 ('Саша', 3, '2020-01-04'),
 ('Максим', 2, '2020-01-04'),
 ('Маша', 5, '2020-01-05'),
 ('Маша', 3, '2020-01-05'),
 ('Маша', 3, '2020-01-05'),
 ('Маша', 3, '2020-01-05')]

# Pandas

In [21]:

df = pd.read_sql("""

    SELECT DISTINCT Name
FROM EmplPoints

""", con)
df

     Name
0    Маша
1    Петя
2    Вася
3    Саша
4  Максим

In [22]:
df1 = pd.read_sql("""

    SELECT Name, count(Point)
FROM EmplPoints
WHERE Point=5
GROUP BY Name 
ORDER BY 2 DESC

""", con)
df1

   Name  count(Point)
0  Маша             3
1  Саша             2